.intro h2 {
  margin: 0;
  margin-top: 19px;
  font-weight: 700;
  font-size: 46px;
  letter-spacing: -0.23px;
  line-height: 64px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    font-size: 30px;
    letter-spacing: -0.15px;
    line-height: 42px;
  }
}

.intro p {
  margin: 0;
  margin-top: 24px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.1px;
  opacity: 0.8;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    font-size: 18px;
  }
}
